:root{
  --color-letra:rgb(255, 255, 255);
  --letra-principal: monserrat;
}

body{
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.conteiner{ 
  margin: 0 auto;
  position: relative;
  display:flexbox;
   
}
.cont-nav {
  display: flex;
  align-items: center;
  letter-spacing: 40px;
  height: 100px;
  position: relative;
  color: rgb(0, 0, 0);
}


#menu {
  display: flex;
  margin-left: auto;
  margin-right: 15%;
}



.text-nav {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 5px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  position: relative;
}

#logo {
  margin-left: 20%;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 20px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
#logo:visited{
  color: black;
  text-decoration: none;
}
#logo:hover{
  filter: drop-shadow(8px 8px 4px rgb(114, 113, 113));
  border-radius: 5px;
}


#menu{
  
  display:flex;
  align-self: center;
}
/* Aqui ira lo de javaScript*/

.componenteFoto {
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 98, 98, 0.7);
  text-align: center;
}

.overlay-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
}
/* Estilo para los botones "anterior" y "siguiente" en el overlay */
.prev, .next {
  font-size: 30px; /* Tamaño de fuente */
  color: #fff; /* Color del icono (flecha) */
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo del botón */
  position: absolute;
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%);
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  z-index: 1; /* Se superpone al contenido */
}



/*Quitar el color despues de Clic*/
.text-nav:visited{
  color: rgb(0, 0, 0);
}
.text-nav::after{
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 98%;
  height: 1px;
  background-color:  rgb(0, 0, 0);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.4s ease-out;
}
.text-nav:hover::after{
  transform-origin: bottom right left;
  transform:scaleX(1);
}


.text-nav:hover{
  transition-property: border;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/*Nombre Retrato*/
  #text-retrato{
    width: 90%;
    position: relative;
    margin: 0 auto;
  }
 
  #text-retrato p{
    height: 100%;
    font-size: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 25px;
    border-bottom: 2px solid rgb(0, 0, 0);
  }


img{
  height: 100%;
  object-fit: cover;
}



@media (max-width: 800px) { 
}

.menuppal{
  display: none;
}


.redes{
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.redes a {
  display: flex;
  position: relative;
  margin: 15px;
  
}

.redes img { 
  width: 800px;
  border-radius: 5%;
  height: 500px;
  margin: 0 auto;
}

.redes img:hover{
  filter: drop-shadow(8px 8px 4px rgb(114, 113, 113));
  filter: blur(6px);
}

.redes p {
  position: absolute;
  top: 50%;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  letter-spacing: 10px;
  text-align: center; 
  color: transparent;
  background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #ff5100);    
  background-clip: text;
  animation: color 5s linear infinite;
  background-size: 500%; 
}

@keyframes color {
  from {
      background-position: 0% 50%;
  }

  to {
      background-position: 100% 50%;
  }
}




/*Movil*/

@media only screen and (min-width:408px) and (max-width:1258px) {
  .componenteHover{
    font-size: 1rem;
    
  }
  .contenido {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
  }
}

@media only screen and (max-width: 767px) {

  #menu{
    display: none;
    margin-left: 25px;
  }
  .menuppal{
    display: block;
  }
  .componenteFoto:hover .portadaFoto:nth-child(n){
    filter: brightness(100%);
    transition: 0.3s linear;
  }
  
  .hamburger{
    position:fixed;
    background-color:transparent;
    right:0;
    top:0;
    height:30px;
    width:30px;
    padding:20px 20px;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index:1002;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
  }
  .hamburger.is-active{
    background-color:none;
  }
  ._layer{
    background:#333333;
    margin-bottom:4px;
    border-radius:2px;
    width:28px;
    height:4px;
    opacity:1;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  }
  .hamburger:hover .-top{
    -webkit-transform:translateY(-100%);
    -ms-transform:translateY(-100%);
    transform:translateY(-100%);
  }
  .hamburger:hover .-bottom{
    -webkit-transform:translateY(100%);
    -ms-transform:translateY(100%);
    transform:translateY(100%);
    }
  .hamburger.is-active .-top{
    -webkit-transform:translateY(200%) rotate(45deg) !important;
    -ms-transform:translateY(200%) rotate(45deg) !important;
    transform:translateY(200%) rotate(45deg) !important;
  }
  .hamburger.is-active .-mid{
    opacity:0;
  }
  .hamburger.is-active .-bottom{
    -webkit-transform:translateY(-200%) rotate(135deg) !important;
    -ms-transform:translateY(-200%) rotate(135deg) !important;
    transform:translateY(-200%) rotate(135deg) !important;
  }
  
  .menuppal.is_active{
    transform: translate3d(0px, 0px, 0px);
  }
  .menuppal{
     background-color: rgba(255, 255, 255, 0.95);
      bottom: 0;
      height: 30%;
      width: 30%;
      left: 0;
      overflow-y: scroll;
      position: fixed;
      top: 0;
      transform: translate3d(0px, -100%, 0px);
      transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
      width: 100%;
      z-index: 1001;
  }
  .menuppal ul{
    margin:0;padding:0;
  }
  .menuppal ul li { 
    list-style: none;
    text-align:center;
    font-family: Verdadna, Arial, Helvetica;
    color:nav-color-text;
    font-size:1.5em;
    line-height:3em;
    height:3em;
    letter-spacing: 1px;
    text-transform:none;
    font-weight:bold;
  }
  .menuppal ul li a{
    text-decoration:none;
    color:rgb(0, 0, 0);
  }
  .menuppal ul li a:hover{
    text-decoration:none;
    color:#333;
  }
    
  
  

  
 /*Boton de cierre*/
   .close {
    position: absolute;
    top: 90px;
    right: 20px;
    font-size: 40px;
    color: #000000;
    cursor: pointer;
    z-index: 1;
  }

  .prev {
    left: 10px; /* Posición "anterior" a la izquierda */
 
  }
  
  .next {
    right: 10px; /* Posición "siguiente" a la derecha */
    border-radius: 0 50% 50% 0; /* Estilo de botón redondeado */
  }
 
  /* Estilo para los botones "anterior" y "siguiente" en el overlay */
  .prev, .next {
    font-size: 40px; /* Tamaño de fuente */
    color: #fff; /* Color del icono (flecha) */
    position: absolute;
    background-color: transparent;
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%);
    padding: 10px 10px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    z-index: 1; /* Se superpone al contenido */
  }
  .prev:hover, .next:hover {
    background-color: transparent;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(66, 65, 65, 0.7);
    text-align: center;
  }
  
  .overlay-image {
    max-height: 80%;
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }




  .redes{
    margin: 0 auto;
    display: block;
    height: 100%;
  
  }
  
  .redes a {
    display: flex;
    position: relative;
    margin: 15px;
    
  }
  
  .redes img { 
    width: 100%;
    border-radius: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 40px;
    animation-name: move;
    animation-duration: 1.5s;
    animation-direction: ease ;
    animation-iteration-count: 1;
  }
  @keyframes move {
  0% {
    margin-top: 40px;
  }
  50%{
    margin-top: 41px;
    filter: drop-shadow(8px 8px 6px rgb(114, 113, 113));
  }
  100%{
    margin-top: 40px;
    filter: drop-shadow(  4px rgb(114, 113, 113));
    
  }

  }
  
  .redes p {
    opacity: 0;
  }
}